.row-header{
    margin:0px auto;
    padding:0px auto;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}
.carousel-item{
    float: initial !important;
}

.picture-jumbotron{
    object-fit: cover;
    width: 100%;
    
}
.overlay-image{
    
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    background: #311480bb;
     
}